<div class="body">
  <span class="title">Primary</span>
  <div class="group">
    <gen-c-button type="primary"> Theme </gen-c-button>
    <gen-c-button type="primary" color="success"> Success </gen-c-button>
    <gen-c-button type="primary" color="warning"> Warning </gen-c-button>
    <gen-c-button type="primary" color="error"> Error </gen-c-button>
  </div>

  <span class="title">Secondary</span>
  <div class="group">
    <gen-c-button type="secondary"> Theme </gen-c-button>
    <gen-c-button type="secondary" color="success"> Success </gen-c-button>
    <gen-c-button type="secondary" color="warning"> Warning </gen-c-button>
    <gen-c-button type="secondary" color="error"> Error </gen-c-button>
  </div>

  <span class="title">Tertiary</span>
  <div class="group">
    <gen-c-button type="tertiary"> Theme </gen-c-button>
    <gen-c-button type="tertiary" color="success"> Success </gen-c-button>
    <gen-c-button type="tertiary" color="warning"> Warning </gen-c-button>
    <gen-c-button type="tertiary" color="error"> Error </gen-c-button>
  </div>
</div>
