@import 'dist/gen-style/assets/scss/partials/variables';

:host {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: map-get($gen-primary, 100);
  padding: 4px;

  .logo {
    width: 25px;
    height: 25px;
  }

  .title {
    margin-left: 6px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }

  .action {
    position: absolute;
    right: 20px;
    bottom: 3px;
  }
}
